@charset "utf-8";
*{margin:0px;padding:0px;}
body{font-family:'Microsoft YaHei';font-size:12px;color:#333;background:#F7F7F7 none repeat scroll 0% 0%;}
body h1,h2,h3,h4,h5,h6,dd,p{line-height:normal;}
ul,li{display:block;list-style:none;overflow:hidden;}
a{color:#428BCA;cursor:pointer;}
a,a:hover,a:active,a:visited,a:focus{text-decoration:none !important;}
a:hover{color:#BE1A21;}
button,select{text-transform:none;}
button,input{line-height:normal;}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;}
img{vertical-align:middle;border:none;}

/* water mark */
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#ccc;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc;}

/* tablelist */
.tablelist{border:solid 1px #cbcbcb;width:100%;clear:both;margin:15px 0px 15px 0px;table-layout:fixed;}
.tablelist th{height:34px;line-height:34px;border-bottom:1px solid #b6cad2;text-align:left;text-indent:12px;}
.tablelist td{line-height:35px;border-right:1px dotted #c7c7c7;white-space:nowrap;overflow:hidden;word-break:keep-all;text-overflow:ellipsis;text-indent:12px;}
.tablelist tbody tr.odd{background:#f5f8fa;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.tablelist tbody tr:hover{background:#e5ebee;}
.tablelist a{margin:0px 5px;color:#3186c8;cursor:pointer;}
.tablelist a:hover{color:#f60;}
.tablelist .last{border-bottom:solid 1px #cbcbcb;}

/* page */
.pagin{position:relative;height:30px;line-height:30px;margin:20px 10px;}
.pagin .blue{color:#056dae;font-style:normal;}
.pagin .paginList{position:absolute;right:12px;top:0;}
.pagin .paginList .paginItem{float:left;}
.pagin .paginList .paginItem a{float:left;min-width:28px;height:26px;padding:0px 5px 3px 5px;border:1px solid #ddd;text-align:center;border-left:none;color:#3399d5;}
.pagin .paginList .paginItem:first-child a{border-left:1px solid #ddd;}
.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .paginList .paginItem.current,.pagin .paginList .paginItem.current a{background:#f5f5f5;cursor:default;color:#737373;}
.pagin .paginList .paginItem:hover{background:#f5f5f5;}
.pagin .paginList .paginItem.omit,.pagin .paginList .paginItem.omit a:hover{cursor:default;}
.pagin .paginList .paginItem.omit:hover{background:#fff;}
.pagin .paginList .paginItem.omit a{color:#737373;}
.pagepre{background:url(../img/pre.gif) no-repeat center center;width:30px;height:30px;display:block;}
.pagenxt{background:url(../img/next.gif) no-repeat center center;width:30px;height:30px;display:block;}
